body{
    background-color: aqua;
}
.counter{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#container{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

